
<div>
    <h1>Angular Homvorks!</h1>
    <!-- <button routerLink="">Home</button>
    <button routerLink="/users">Users</button>
    <button routerLink="/todo-list">Todo List</button>
    <button routerLink="/about-us">About Us</button>
    <button routerLink="/banks">Banks</button> -->

    <button (click)="home()">Home</button>
    <button (click)="users()">Users</button>
    <button (click)="todo()">Todo List</button>
    <button (click)="about()">About Us</button>
    <button (click)="banks()">Banks</button>
</div>

